[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
tensorflow = "*"
keras = "*"
pytest = "*"
pytest-cov = "*"
sklearn = "*"
pd4ml = {editable = true, git = "https://github.com/erum-data-idt/pd4ml"}
pydot = "*"
graphviz = "*"
ipywidgets = "*"
telegram-send = "*"
jupyter = "*"
jupyterthemes = "*"
line-profiler = "*"
keras-tuner = "*"
ipykernel = "*"
scipy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
